{% extends 'auth/admin_dashboard.html' %}
{% load static %}

{% block content %}
<div class="content container-fluid">
   <div class="page-header">
      <div class="row">
         <div class="col">
            <h3 class="page-title">Edit Profile</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="{% url 'auth_user:admin_dashboard' %}">Dashboard</a></li>
               <li class="breadcrumb-item active">Edit Profile</li>
            </ul>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <div class="profile-header">
            <div class="row align-items-center">
               <div class="col-auto profile-image">
                  <a href="#">
                  <img class="rounded-circle" alt="User Image" src="{% static 'assets/img/profiles/avatar-02.jpg' %}">
                  </a>
               </div>
               <div class="col ml-md-n2 profile-user-info">
                  <h4 class="user-name mb-0">John Doe</h4>
                  <h6 class="text-muted">UI/UX Design Team</h6>
                  <div class="user-Location"><i class="fas fa-map-marker-alt"></i> Florida, United States</div>
                  <div class="about-text">Lorem ipsum dolor sit amet.</div>
               </div>
               <div class="col-auto profile-btn">
                  <a href="{% url 'auth_user:profile' %}" class="btn btn-secondary">
                  Back
                  </a>
               </div>
            </div>
         </div>
         <div class="profile-menu">
            <ul class="nav nav-tabs nav-tabs-solid">
               <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#per_details_tab">About</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#password_tab">Password</a>
               </li>
            </ul>
         </div>
         <div class="tab-content profile-tab-cont">
            <div class="tab-pane fade show active" id="per_details_tab">
               <div class="row">
                  <div class="col-lg-9">
                     <div class="card">
                        <div class="card-body">
                           <h5 class="card-title">Personal Details</h5>
                           <form>
                              <div class="row">
                                 <div class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Name</div>
                                 <div class="col-sm-9">
                                    <input class="form-control" type="text" value="John Doe">
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Date of Birth</div>
                                 <div class="col-sm-9">
                                    <input class="form-control" type="text" value="24 Jul 1983">
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Email ID</div>
                                 <div class="col-sm-9">
                                    <input class="form-control" type="email" value="john.doe@example.com">
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Mobile</div>
                                 <div class="col-sm-9">
                                    <input class="form-control" type="text" value="305-310-5857">
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-sm-3 text-muted text-sm-right mb-0">Address</div>
                                 <div class="col-sm-9 mb-0">
                                    <textarea class="form-control" rows="3">4663 Agriculture Lane, Miami, Florida - 33165, United States.</textarea>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-sm-9 offset-sm-3">
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3">
                     <div class="card">
                        <div class="card-body">
                           <h5 class="card-title">Account Status</h5>
                           <button class="btn btn-success" type="button"><i class="fe fe-check-verified"></i> Active</button>
                        </div>
                     </div>
                     <div class="card">
                        <div class="card-body">
                           <h5 class="card-title">Skills</h5>
                           <div class="skill-tags">
                              <span>Html5</span>
                              <span>CSS3</span>
                              <span>WordPress</span>
                              <span>Javascript</span>
                              <span>Android</span>
                              <span>iOS</span>
                              <span>Angular</span>
                              <span>PHP</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div id="password_tab" class="tab-pane fade">
               <div class="card">
                  <div class="card-body">
                     <h5 class="card-title">Change Password</h5>
                     <div class="row">
                        <div class="col-md-10 col-lg-6">
                           <form>
                              <div class="form-group">
                                 <label>Old Password</label>
                                 <input type="password" class="form-control">
                              </div>
                              <div class="form-group">
                                 <label>New Password</label>
                                 <input type="password" class="form-control">
                              </div>
                              <div class="form-group">
                                 <label>Confirm Password</label>
                                 <input type="password" class="form-control">
                              </div>
                              <button class="btn btn-primary" type="submit">Save Changes</button>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}